<div>
    <h1>Educación</h1>
    <ul>
        <li *ngFor="let educacion of educationList">
            <div class="row">
                <div class="col-lg-1">
                    <img [src]="educacion.img" alt="logo" id="educa">  
                </div>
                <div class="col-lg-11">
                    <h2>{{educacion.name}} <h3>{{educacion.start}}/{{educacion.end}}</h3></h2>
                    <p>{{educacion.description}}</p>
                </div>
            </div>
                
        </li>
    </ul>
</div>
