<div class="row" >
    <h1>Educación</h1>
    <div class="col-lg-1">
        <img src="/assets/logoUnaj.png" alt="logo Unaj" id="unaj">
        <img src="../../../assets/secundario.png" class="img-fluid" id="sec">
    </div>
    <div class="col-lg-11">
        <ul>
            <li>
                <h2>Universidad Nacional Arturo Jauretche <h3>2015/Actualidad</h3></h2>
            <p>
                • Ingeniería en Informática
            </p>
            </li>
            <li>
                <h2>Nuestra Señora del Perpetuo Socorro<h3>2004-2009</h3></h2>
                <p> • Perito Mercantil
                </p>
            </li>
        </ul>
    </div>
</div>
