<div class="row" >
    <h1>Experiencia Profesional</h1>
    <div class="col-lg-1">
        <img src="../../../assets/ts.png" class="img-fluid" id="ts">
        <img src="/assets/logoUnaj.png" alt="logo Unaj" id="unaj">
    </div>
    <div class="col-lg-11">
        <ul>
            <li>
                <h2>Supervisor del Centro de Copiado <h3>2017-2020</h3></h2>
            <p> • Supervisión de equipo
                • Atención al Público
                • Cierre de Caja
                • Control de Stock
            </p>
            </li>
            <li>
                <h2>Representante de Atención al Cliente <h3>2006-2012</h3></h2>
                <p> • Venta de Intangibles
                    • Resolución de problemas de clientes
                    • Suplencias de Supervisión
                    • Gestión de Cobranzas
                </p>
            </li>
        </ul>
    </div>
</div>
