<div class="row">
    <h1>Hard & Soft Skills</h1>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="85"
            [radius]="80"
            [titleFontSize]="'1em'"
            [subtitle]="'HTML'"
            [subtitleFontSize]="'1em'"
            [subtitleColor]="'black'"
            [showUnits]="true"
            [showSubtitle]="true"
            [outerStrokeWidth]="6"
            [innerStrokeWidth]="3"
            [outerStrokeColor]="'#C2684A'"
            [innerStrokeColor]="'#C28C7B'"
            [animation]="true"
            [animationDuration]="600">
        </circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="80"
            [radius]="80"
            [titleFontSize]="'1em'"
            [subtitle]="'CCS'"
            [subtitleFontSize]="'1em'"
            [subtitleColor]="'black'"
            [showUnits]="true"
            [showSubtitle]="true"
            [outerStrokeWidth]="6"
            [innerStrokeWidth]="3"
            [outerStrokeColor]="'#C2684A'"
            [innerStrokeColor]="'#C28C7B'"
            [animation]="true"
            [animationDuration]="600">
        </circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="70"
            [radius]="80"
            [titleFontSize]="'1em'"
            [subtitle]="'Python'"
            [subtitleFontSize]="'1em'"
            [subtitleColor]="'black'"
            [showUnits]="true"
            [showSubtitle]="true"
            [outerStrokeWidth]="6"
            [innerStrokeWidth]="3"
            [outerStrokeColor]="'#C2684A'"
            [innerStrokeColor]="'#C28C7B'"
            [animation]="true"
            [animationDuration]="600">
        </circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="85"
            [radius]="80"
            [titleFontSize]="'1em'"
            [subtitle]="'Comunicación'"
            [subtitleFontSize]="'1em'"
            [subtitleColor]="'black'"
            [showUnits]="true"
            [showSubtitle]="true"
            [outerStrokeWidth]="6"
            [innerStrokeWidth]="3"
            [outerStrokeColor]="'#C2684A'"
            [innerStrokeColor]="'#C28C7B'"
            [animation]="true"
            [animationDuration]="600">
        </circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="80"
            [radius]="80"
            [titleFontSize]="'1em'"
            [subtitle]="'Trabajo de Equipo'"
            [subtitleFontSize]="'1em'"
            [subtitleColor]="'black'"
            [showUnits]="true"
            [showSubtitle]="true"
            [outerStrokeWidth]="6"
            [innerStrokeWidth]="3"
            [outerStrokeColor]="'#C2684A'"
            [innerStrokeColor]="'#C28C7B'"
            [animation]="true"
            [animationDuration]="600">
        </circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="90"
            [radius]="80"
            [titleFontSize]="'1em'"
            [subtitle]="'Responsabilidad'"
            [subtitleFontSize]="'1em'"
            [subtitleColor]="'black'"
            [showUnits]="true"
            [showSubtitle]="true"
            [outerStrokeWidth]="6"
            [innerStrokeWidth]="3"
            [outerStrokeColor]="'#C2684A'"
            [innerStrokeColor]="'#C28C7B'"
            [animation]="true"
            [animationDuration]="600">
        </circle-progress>
    </div>
    
</div>
